body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.max-w {
    background-color: white;
    max-width: 950px;
    width: 100%;
    margin: 0 auto 0 auto;
}
menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid gray;
}
.content-m{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
}
.content-p{
    padding: 150px 25px 25px 25px;
    box-sizing: border-box;
}
.icon-r{
    display: flex;
}
.icon-m{
    margin-right: 15px;
}