body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.max-w {
    background-color: white;
    max-width: 950px;
    width: 100%;
    margin: 0 auto 0 auto;
}

menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid gray;
}

.content-m {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
}

.content-p {
    padding: 125px 25px 25px 25px;
    box-sizing: border-box;
    margin-bottom: 105px;
}

.icon-r {
    display: flex;
}

.icon-m {
    margin-right: 15px;
}

.exit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid gray;
}

.nav div {
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.newscart {
    border-radius: 10px;
    border: 1px solid #000;
    margin-top: 15px;
}
.carttitl {
    display: flex;
    border-bottom: 1px solid black;
    padding: 13px;
}
.titltext {
    margin: 0px 0px 0px 7px;
    color: #4B4B4B;
    font-family: sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.cartcontent {
    padding: 13px;
}
.cartcontent img {
    width: 100%;
    margin-top: 7px;
}


.titlechat {
    width: 158px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.content-search {
    width: 359px;
    height: 24px;
    flex-shrink: 0;
    margin: 9px auto 5px -146px;
    border-radius: 10px;
    border: 1px solid gray;
}

.text {
    margin: 2px 155px 0 150px;
    color: gray;
}

.chat {
    border-radius: 10px;
    border: 1px solid gray ;
    margin: 5px auto auto auto;
    padding: 6px;
    width: 860px;
    display: flex;
}

.chattext {
    margin-left: 5px;
}

.timetext {
    margin-left: 650px;
    display: flex;
}

.searchtext {
    margin-left: 155px;
}
>>>>>>> Stashed changes
